.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: #fff;
}

.content {
  padding-top: 5rem;
  min-height: 100%;
  background-image: linear-gradient(217deg, #e66465, #9198e5);
  flex-grow: 1;
  display: flex;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: #181818;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181818;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

footer > a {
  color: #fff;
}

.brand-link {
  font-family: 'B612', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.home,
.contact,
.impressum,
.frage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frage {
  margin-top: 1rem;
  align-items: center;
}

.impressum {
  justify-content: space-between;
}

.pane {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pane-container {
  margin: 2rem 3rem;
  color: #fff;
}

@media screen and (max-width: 420px) {
  .pane-container {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 1100px) {
  .pane-container {
    margin: 2rem 1rem;
  }
}

.pane-container > h1 {
  color: #fff;
  font-size: 6rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.pane-container > .small-screen {
  display: none;
}

@media screen and (max-width: 420px) {
  .pane-container > h1 {
    font-size: 4rem;
    word-break: normal;
  }
}

@media screen and (max-width: 1100px) {
  .pane-container > h1 {
    font-size: 4.5rem;
    word-break: normal;
  }

  .pane-container > .large-screen {
    display: none;
  }

  .pane-container > .small-screen {
    display: block;
  }
}

.pane-container > p {
  margin-bottom: 3rem;
}

.question-pane {
  margin-top: 2rem;
  width: 50%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 420px) {
  .question-pane {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .question-pane {
    width: 70%;
  }
}

.btn {
  border: none;
  border-radius: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-home {
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-size: 200% auto;
  transition: 0.5s;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
}

.btn-home:hover {
  background-position: right center;
  color: #fff;
}

.card {
  background-color: #fff;
  border-radius: 3rem;
  padding: 3rem;
  color: #181818;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-input > small {
  margin-top: 0.4rem;
}

label {
  text-transform: uppercase;
  font-weight: bold;
}

input,
textarea {
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0;
  border: 1px solid #181818;
}

.question {
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn-answer {
  padding: 1.5rem;
  width: 100%;
  border-radius: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: 3px solid transparent;
}

.btn-answer:hover {
  border: 3px solid #a9ddd6;
}

.btn-answer:active {
  background-color: #a9ddd6;
}

.hackathon-img {
  max-width: 100%;
}

.impressum-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.progress {
  height: 5px;
  background-color: #2e947b;
  position: relative;
  transition-property: width;
  transition-duration: 0.5s;
}

.progress-number {
  position: absolute;
  color: #fff;
  bottom: 8px;
  right: 5px;
}

.w-100 {
  width: 100%;
}

.btn-back {
  padding: 0.5rem;
}

.show-body {
  display: block;
}

.hide-body {
  display: none;
}

.collapse > h2 {
  margin-top: 0;
}
